#heading{
	font-family: 'Satisfy', cursive;
	
	color : blue;
	font-size : 40px;
	text-align:center;
}

ol{

	
	font-size : 1.5em;


}

a{
	color : black;
}
button{
	margin : 0 auto;
	display : block;
<<<<<<< HEAD
=======

>>>>>>> 3f90fc760a9dd8ddeb4a3727dadee330fa86cde2
}
.goback{
	
	text-align : center;
}
